/* General styling */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    flex: 1;
    width: 60%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #213a67;
}

/* Center and style the message box */
.success-message, .error-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Success message style */
.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Error message style */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

form input[type="text"], form input[type="datetime-local"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Link styling */
a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-bottom: 20px;
    font-size: 14px;
}
